body{
    font-size:  larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden; 
    color: rgba(35, 35, 35);
}

a{
    color: rgba(35, 35, 35);
}

#weather {
    text-transform: capitalize; 
}

#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

  /* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.navbar-toggler{
    outline: none !important; 
}

.outline{
    outline: none !important;
}



